<%- include('../partials/header.ejs') %>
<%- include('../partials/navigation.ejs') %>
<div class="reporting-status">
    <h3>Today reporing status:</h3>
    <div>
        <% if (submittedMorningReport) { %>
            <p>Today's morning report status: submitted</p>
        <% } else { %>
            <p>Today's morning report status: not submitted</p>
        <% } %>
        <% if (submittedEveningReport) { %>
            <p>Today's evening report status: submitted</p>
        <% } else { %>
            <p>Today's evening report status: not submitted</p>
        <% } %>
    </div>
    <p>The already submitted reports can be overwritten if resubmitted</p>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Select Reporting
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <a class="dropdown-item" href="/behavior/reporting/morning">Morning Report</button>
          <a class="dropdown-item" href="/behavior/reporting/evening">Evening Report</button>
        </div>
    </div>
</div>

<%- include('../partials/errors.ejs') %>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<%- include('../partials/footer.ejs') %>