<% if (errors) { %>
<div class="error-zone">
    <h5>Form submission failed due to:</h5>
    <ul class="errors-list">
        <% Object.keys(errors).forEach((attribute) => { %>
            <% Object.values(errors[attribute]).forEach((err) => { %>
                <li class="decreasing-trend"><%= err %></li>
            <% }); %>
        <% }); %>
    </ul>
    <p>Please, solve the errors before submitting again</p>
</div>
<% } %>